<app-navbar></app-navbar>
<nav class="navbar">
    <div>
        <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">
          &#9776;
        </label>
  
        <ul class="nav">
          <li class="nav-item">
            <a routerLink="/dashboard" routerLinkActive="active">Dashbaord</a>
          </li>
          <li class="nav-item">
            <a routerLink="/two" routerLinkActive="active">two</a>
          </li>
          <li class="nav-item">
            <a routerLink="/three" routerLinkActive="active">three</a>
          </li>
          <li class="nav-item">
            <a routerLink="/gameboard" routerLinkActive="active">Game baord</a>
          </li>
        
        </ul>
      </div>
    <!-- <a routerLink="/login" routerLinkActive="active">Login</a> -->
    <!-- <a routerLink="/dashboard" routerLinkActive="active">Dashbaord</a> -->
    <!-- <a routerLink="/two" routerLinkActive="active">two</a> -->
    <!-- <a routerLink="/three" routerLinkActive="active">three</a> -->
    <!-- <a routerLink="/gameboard" routerLinkActive="active">Game baord</a> -->
</nav>